

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

::-webkit-scrollbar{
    display: none;
}

#project{
    display: flex;
    row-gap: 25px;
    height: 100vh;
    width: 100vw;
}

.container , .active{
    height: 100vh;
    width: 30vw;
    object-fit: cover;
    position: fixed;
}

#container-2{
 position: absolute;
 right: 0%;
 width: 70vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#option{
    display: none;
}

#bar{
    position: fixed;
    top: 5%;
    right: 3%;
}

.menu-bar{
    display: none;
}

.name{
    margin-top: 15vh;
    height: 60vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.nameV{
    margin-top: 30px;
    font-size: 2.5vw;
}

#cross{
    display: none;
    position: fixed;
    top: 5%;
    right: 3%;
}

.down{
    height: 15%;
    width: 20%;
}




html,body{
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: #616161;
}

.my-heading{
    display: none;
}


.photo{
    position: fixed;

    height: 100vh;
    width: 30vw;
    object-fit: cover;
}

#g-photo{
    position: fixed;
    height: 100%;
    width: 33%;
}

.menu-bar{
    height: 5vh;
    width: 4vw;
    position: absolute;
    right: 2%;
    top:3%;
    color: #000;


}

.fa-bars{
   position: absolute;
   right: 2%;
   top:3%;
   font-size: 4vh;
   cursor: pointer;
   
}

.fa-xmark{
    position: fixed;
   right: 2%;
   top:3%;
   font-size: 4vh;
   cursor: pointer;
   display: none;
   color: black;
}


#content{
    height: 60vh;
    width: 50vw;
    /* background-color: rgb(180, 180, 24); */
}



#menu-option{
  position: fixed;
  top: 3%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1000;
  font-size: 1vw;
}



#option{
    margin-top: 5vh;
    margin-left: 52vw;
    height: 5%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color:white;
    display: none;
    border-radius: 10px;
}



.box{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

#box-moon{
    display: none;
}


.tag{
    color: black;
    cursor: pointer;  
}



.work{
    margin-top: 3vh;
    font-size: 2vw;
    font-weight: 200;
}

.down{
    height: 8vh;
    width: 15vw;
    font-size: 2vh;
    border: none;
    border-radius: 0.2vh;
    background-color:#f1f1f1;
    font-weight: 600;
    margin-top: 3vh;
}

.down:hover{
    background-color: lightsalmon;
    transition: 0.1s 0.1s ease-in-out;
}




.gallery{
    /* text-align: center; */
    font-size: 5vh;
    font-weight: 300;
   
}


.photo-mode{
    height: 80vh;
    width: 90%;
    /* background-color:bisque; */
    margin-left: 2.5vw;
}

.photo-1{
    height: 69vh;
    width: 23vw;
    /* background-color: blueviolet; */
    background-size: cover;
}


#about{
    height: 55vh;
    width: 50vw;
    /* background-color: blue; */
    margin-top: 50px;
    
}


.about-1{
    font-size: 5vh;
    font-weight: 300;
}


.content-about{
    height: 70%;
    margin-top: 3vh;

}

hr{
    margin-top: 3vh;
}

.c-b{
    font-size: 2.6vh;
    color: #757575;
}

#My-skill{
    height: 80vh;
    width: 50vw;
    /* background-color: crimson; */
    margin-top: 50px;
   

}

.Skill-heading{
    font-size: 5vh;
    font-weight: 300;
   
    
}

.skill-section{
    height: 20%;
    width: 100%;
    margin-left: 0vw;
    
}

.s-c-o{
    font-weight: 300;
}

.skill-section.one{
    margin-top: 6vh;
}


.percentage{
    height: 30%;
    width: 100%;
    background-color: #88888d;
    margin-top: 2vh;
    margin-left: 0vw;
    color: white;
    font-size: 2.3vh;
    
}

.part-1{
    height: 100%;
    width: 95%;
    background-color: #616161;
    text-align: center;
}


.part-2{
    height: 100%;
    width: 85%;
    background-color: #616161;
    text-align: center;
    
}


.part-3{
    height: 100%;
    width: 80%;
    background-color: #616161;
    text-align: center;
    
}

.bar-prp{
    background-color: #616161;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.h3-pro{
    text-align: center;
    font-size: 3vh;
    font-weight: 100;
    color: white;
}



.f-one{
    margin-top: 2.5vh;
}




#contact-us{
    height: 95vh;
    width: 50vw;
    /* background-color: crimson; */
    margin-top: 125px;
   
}

.fa-location-dot{
    font-size: 5vh;
    color: #757575;
    border: none;
}


.fa-phone{
    font-size: 5vh;
    color: #757575;
    border: none;
    
}

.fa-envelope{
    font-size: 5vh;
    color: #757575;
    border: none;
}

.count{
    display: flex;
    margin-top: 3vh;
}

.class{
    /* margin-top: vh; */
    margin-left: 3vw;
    font-weight: 100;
    color: #757575;
    font-size: 3vh;
}

.contact{
    font-weight: 100;
    color: #757575;
}

.class-one{
    margin-left: 3.5vw;
}


#map{
    margin-top: 5vh;
    height: 50vh;
    width: 50vw;
    /* background-color: brown; */
    /* background-image: url("Map\ photo.png"); */
    background-size: cover;
}

img{
    height: 100%;
    width: 100%;
}


#send-message{
    height: 65vh;
    width: 50vw;
}


.input{
    height: 7vh;
    width: 100%;
    margin-top: 4vh;
    font-size: 2.2vh;
    padding-left: 1vw;
}


.send-me{
    margin-top: 4vh;
    height: 7vh;
    width: 13vw;
    border: none;
    background-color: #f1f1f1;
    font-size: 2vh;
    font-weight: 100;
}

.send-me:hover{
    background-color:#88888d;
}


#footer{

    height: 35vh;
    width: 67vw;
    margin-left: 2.6vw;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    gap: 2vw;
}

#arrow{
    position: fixed;
    bottom: 50px;
    right: 55px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: gray 5px 5px 10px;
}

#upArrow{
    font-size: 15px;
    color: white;
}


.fa-linkedin:hover{
    color: blue;
}

.fa-instagram:hover{
    color: violet;
}

.fa-github:hover{
    color: #000;
}


.fa-snapchat:hover{
    color: #f9ce34;
}

.fa-discord:hover{
    color: purple;
}

.slideShow{
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@media(max-width:720px){


    body{
        height: 100vh;
        width: 100vw;
        border-style: 100vw;
        overflow-x: hidden;
    }


    .photo{
        height: 36vh;
        width: 65vw;
        left: 10%;
        display: none;
    }

    .menu-bar{
        width: 100vw;
        height: 10vh;
        /* position: absolute; */
        background-color: rgb(53, 66, 250);
       
        left: 0vw;
        display: flex;
        justify-content: center;

        align-items: center;

       

    }

    .container{
        display: none;
    }

    #bar {
    position: fixed;
    top: 5%;
    right: 5%;
}

    #container-2{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .content{
        width: 100vw;
        /* background-color: #757575; */
         display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .my-heading{
        display: flex;
        position: absolute;
        left: 3vh;
        font-size: 3vh;
        color: #cacad1;
        cursor: pointer;
    }


    .fa-bars{
        font-size: 2vh;
        top: 3.5vh;
        right: 5vw;
        color: #cacad1;
    }


    .name{
        font-size: 4vh;
    }

    .down{
        width: 62vw;
    }

    #my-gallery{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .heading-gallery{
        display: block;
    }

    .gallery{
        font-size: 4vh;

    }

    

    .photo-1{
        width: 90%;
        height: 59vh;
        
    }

    #about{
        
        width: 100%;
        height: 68vh;
       

    }

    .about-heading{
        width: 100%;

    }

    .about-1{
        font-size: 5vh;
        margin-left: 5vw;
    }

    .content-about{
        width: 90%;
        margin-left: 5vw;
    }

    .c-b{
        font-size: 2vh;
    }






    #My-skill{
        width: 90%;
        
    }

    .s-c-o{
        font-size: 2.3vh;
    }

    .h3-pro{
        font-size: 1.9vh;
    }


    


    #my-Friends{
        width: 100%;
        height: 32vh;
       
    }
    
    .Repu-heading{
        font-size: 4vh;
    }

    .friend-photos{
        gap: 0vw;
        width: 100%;
        font-size: 1.7vh;
    }

    .name-friends{
        font-size: 1.7vh;
    }


    #contact-us{
        height: 66vh;
        width: 90%;
    }

    #map{
        width: 100%;
        height: 30vh;
    }

    #send-message{
        width: 80%;
    }

    .send-para{
        font-size: 3vh;
    }


    .input{
        border: 2px solid 
    }
    
    .send-me{
        width: 50vw;
    }

    #footer{
        width: 100%;
        height: 32vh;

    }



}





 
 @media(max-width:480px){
    body{
        height: 100vh;
        border-style: 100vw;
    }

    .container{
        height: 100vh;
        width: 100vw;
    }

    .photo{
        height: 36vh;
        width: 65vw;
        left: 10%;
        display: none;
    }


    .nameV {
    margin-top: 30px;
    font-size: 7.5vw;
    }

    .menu-bar{
       width: 102vw;
        height: 13vh;
        position: fixed;
        background-color: rgb(61, 68, 173);
        top: 0%;
       
        left: 0vw;
        display: flex;
        justify-content: center;

        align-items: center;
        z-index: 1000;
       

    }
    #content{
        width: 80%;
        height: 35vh;
        top: 13vh;
        /* background-color: #757575; */
    }

    .my-heading{
        display: flex;
        position: absolute;
        left: 3vh;
        font-size: 3vh;
        color: #cacad1;
        cursor: pointer;
    }


    .fa-bars{
        font-size: 2vh;
        top: 3.5vh;
        right: 5vw;
        color: #cacad1;
    }


    .name{
        font-size: 4vh;
    }

    .down{
        width: 62vw;
    }

    #my-gallery{
        width: 100%;
       

    }

    .heading-gallery{
        display: flex;
        justify-content: center;
        align-items: center;
         display: block;
        height: 3%;
        width: 73vw;
        margin-left: 20vw;
    }

    .gallery{
        font-size: 3vh;

    }

    .photo-1{
        height: 43vh;
        width: 70%;
      
        text-align: center;
    }
    



    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    .photo-5{
       /* width: 50%; */
       height: 50vh;
        width: 70%;
       
    }

    #about{
        
         height: 57vh;
        

    }

    .about-heading{
        width: 100%;

    }

    .about-1{
        font-size: 5vh;
        margin-left: 5vw;
    }

    .content-about{
        width: 90%;
        margin-left: 5vw;
    }

    .c-b{
        font-size: 2vh;
    }

    #arrow{
      right: 5%;  
      bottom: 5%;
    }
 }



 /* @media(max-width:820px){
    .my-gallery{
       top: ;
    }

} */


 /* @media(max-width:780px){

    .my-gallery{
        height: 315vh;
    }

    .photo-1{
        height: 85vh;
    }

    .photo-2{
        top: 97vh;
        height: 97vh;
    }

    .photo-3{
        top: 95vh;
    }

    .photo-4{
        height: 90vh;
    }

    .photo-5{
        height: 90vh;
    }

    .about{
        top: 441vh;
    }


    .My-skill{
        top: 480vh;
    }

    .my-Friends{
        top: 570vh;
    }

    .contact-us{
        top: 640vh;
    }

    .friend-photos{
        height: 19vh;
        right: 1vw;
    }

    .pho{
        height: 17vh;
        width: 25vw;
    }

    .name-friends{
        font-size: 4vw;
    }

 } */




